<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students, academic staff, faculty, and other users interested in using large computing infrastructures for research.
  <strong>
    You don't need to have previous experience in Linux.
    You will learn how to use the HPC cluster for your own research projects from scratch.
    All that is needed on your side is a computer with Windows, macOS, or Linux with the ability to connect to our HPC clusters via an SSH cluster.
  </strong>
</p>
